@page "/informe1"

@using Blazorise
@using Blazorise.Charts
@using BonosAytoService.Services
@inject EstablecimientoService EstablecimientoService

<h3 class="w-100 text-center">GRÁFICOS INFORMES</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- Dropdown de establecimiento -->
            <Dropdown>
                <DropdownToggle Color="Color.Primary">@(@establecimientoSeleccionado ?? "Establecimiento")</DropdownToggle>
                <DropdownMenu>
                    @foreach (var e in nombresEstablecimientos)
                    {
                        <DropdownItem @onclick="@(() => CambiarEstablecimiento(e))">@e</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            <!-- Dropdown de filtro -->
            <Dropdown class="mt-2">
                <DropdownToggle Color="Color.Secondary">@filtroSeleccionado</DropdownToggle>
                <DropdownMenu>
                    <DropdownItem @onclick="@(() => CambiarFiltro("Todos"))">Todos</DropdownItem>
                    <DropdownItem @onclick="@(() => CambiarFiltro("Trimestre activo"))">Trimestre activo</DropdownItem>
                </DropdownMenu>
            </Dropdown>

            <h5 class="mt-3">@tituloGrafico</h5>

            <BarChart TItem="double" @ref="barChart" />
        </div>


        @* <div class="col-md-6 col-sm-12">
            <!-- Dropdown de establecimiento -->
            <Dropdown>
                <DropdownToggle Color="Color.Primary">@(@establecimientoSeleccionado ?? "Establecimiento")</DropdownToggle>
                <DropdownMenu>
                    @foreach (var e in nombresEstablecimientos)
                    {
                        <DropdownItem @onclick="@(() => CambiarEstablecimiento(e))">@e</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>

            <!-- Dropdown de filtro -->
            <Dropdown class="mt-2">
                <DropdownToggle Color="Color.Secondary">@filtroSeleccionado</DropdownToggle>
                <DropdownMenu>
                    <DropdownItem @onclick="@(() => CambiarFiltro("Todos"))">Todos</DropdownItem>
                    <DropdownItem @onclick="@(() => CambiarFiltro("Trimestre activo"))">Trimestre activo</DropdownItem>
                </DropdownMenu>
            </Dropdown>

            <h5 class="mt-3">@tituloGrafico</h5>

            <BarChart TItem="double" @ref="barChart" />
        </div> *@
        <div class="col-md-6 col-sm-12">
            <h5 class="mt-5">Bonos Canjeados + Importe por día</h5>
            <BarChart TItem="double" @ref="barChartComparativo" />

        </div>
    </div>
</div>


