@page "/usuarios/{Modo?}/{Id:int}/"
@inject NavigationManager Navigate
@using BonosAyto.Components.Pages.Usuarios

<DetallesTemplate @ref="detallesTemplate" Tipo="PageType.Usuarios">
    <FormFragment>

        <EditForm Model="usuario">
            <DataAnnotationsValidator />
                <div class="container">
                    <div class="row">
                        <div class="col-6">

                            <!-- Usuario -->
                            <label for="usuario">Usuario</label>
                            <InputText id="usuario" disabled="@(EsModoLectura)" @bind-Value="usuario.Usuario" class="form-control mb-2" required />
                        </div>

                        <div class="col-6">
                            <!-- Email -->
                            <label for="email">Email</label>
                            <InputText id="email" disabled="@(EsModoLectura)" @bind-Value="usuario.Email" class="form-control mb-2" />
                        </div>


                        <div class="col-6">
                            <!-- Rol, en el form de la vista se muestran los nombres pero a la bd se envia la inicial: 'G', 'S', 'C' -->
                            <label for="rol">Rol</label>
                            <InputSelect id="rol" disabled="@(EsModoLectura)" @bind-Value="usuario.Rol" class="form-control mb-2" required>
                                <option value="" selected>-- Selecciona un Rol --</option>
                                <option value="G">Gestión</option>
                                <option value="C">Control</option>
                                <option value="S">Servicio</option>
                            </InputSelect>
                        </div>


                        <div class="col-6">
                            <!-- Id del establecimiento, en el form de la vista se muestra el nombre pero a la bd se envia el Id-->
                            @if (usuario?.Rol == 'S')
                            {
                                <label for="IdEstablecimiento">Establecimiento</label>
                                <InputSelect id="IdEstablecimiento" disabled="@(EsModoLectura)" @bind-Value="usuario.IdEstablecimiento" class="form-control mb-2">
                                    <option value="" selected>-- Selecciona un Establecimiento --</option>
                                    @foreach (var establecimiento in establecimientos)
                                    {
                                        <option value="@establecimiento.Id">@establecimiento.Nombre</option>
                                    }
                                </InputSelect>
                            }
                        </div>

                        @if (!EsModoLectura)
                        {
                            <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-secondary" @onclick="@(()=>GuardarCambios())">Actualizar</button>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-end mt-3">
                                <button type="button" class="btn btn-secondary" @onclick="@(() => VolverAtras())">Volver</button>
                            </div>
                        }
                    </div>
                </div>
        </EditForm>
    </FormFragment>
</DetallesTemplate>
